* {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  font-family: Lato, Arial, sans-serif;
  font-size: var(--font-sizes-14);
  line-height: var(--line-heights-140);
  color: rgba(0 0 0 / 87%);
}

html,
#root,
.fill {
  width: 100%;
  height: 100%;
}

#main {
  margin-top: var(--header-height);
}

ul {
  list-style-type: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

p {
  margin: 0;
}
