:root {
  --white: #fff;
  --black: #000;
  --primary-color: #202020;
  --secondary-color: #e82200;
  --body-bg: #f000;
  --colors-lime500: #eaff96;
  --colors-lime400: #f1ffb9;
  --colors-lime300: #f5ffcb;
  --error-color: #df1c3d;
  --light-shadow: rgba(34 36 38 / 15%);
  --header-height: 6rem;
  --header-shrink-height: 4rem;
  --sizes-page-width: 1200px;
  --sizes-page-width-tablet: 1024px;
  --sizes-page-width-mobile: 600px;
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;
  --space-7: 64px;
  --space-8: 80px;
  --space-grid-gap: 32px;
  --space-page-margin: 32px;
  --font-sizes-8: 8px;
  --font-sizes-10: 10px;
  --font-sizes-12: 12px;
  --font-sizes-14: 14px;
  --font-sizes-16: 16px;
  --font-sizes-18: 18px;
  --font-sizes-20: 20px;
  --font-sizes-24: 24px;
  --font-sizes-28: 28px;
  --font-sizes-32: 32px;
  --font-sizes-40: 40px;
  --font-sizes-48: 48px;
  --font-sizes-56: 56px;
  --font-sizes-64: 64px;
  --font-sizes-72: 72px;
  --font-sizes-80: 80px;
  --fonts-display: lato, arial, sans-serif;
  --fonts-default: inter, "Hevetica Neue", helvetica, apple-system, sans-serif;
  --font-weights-light: 300;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-bold: 600;
  --letter-spacings-0: 0em;
  --letter-spacings-1: -0.0125em;
  --letter-spacings-2: -0.025em;
  --letter-spacings-3: -0.05em;
  --letter-spacings-4: -0.075em;
  --radii-0: 0px;
  --radii-1: 4px;
  --radii-2: 6px;
  --radii-3: 8px;
  --radii-rounded: 9999px;
  --line-heights-90: 90%;
  --line-heights-100: 100%;
  --line-heights-110: 110%;
  --line-heights-120: 120%;
  --line-heights-140: 140%;
  --line-heights-160: 160%;
}
